@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

.faq {
  @include flex-center(column);
}

.faq__image-container {
  height: vh(100);
  position: relative;
  width: 100%;
  @include flex-center();
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba($black, 0.4);
    z-index: 2;
  }
}

.faq__wrapper {
  width: 100%;
  @include flex-center(column);
}

.faq__text-block {
  width: 50%;
  text-align: center;
  color: white;
  z-index: 2;
  @include flex-center(column);

  @include mobile {
    width: 80%;
  }
}

.faq__header {
  --mb: 40px;
  margin-bottom: var(--mb);
  text-transform: uppercase;
}

.faq__accordion {
  --pv: 80px;
  @include grid-columns(12);
  padding: var(--pv) 0;
  margin: 0 auto;

  @include tablet {
    @include grid-columns(15);
  }

  @include mobile {
    width: 100%;
  }
}
