@use "@/application/css/base/variables" as *;
@use "@/application/css/utils/mixins" as *;

.chess {
  width: 100vw;
  overflow: clip;
  display: flex;

  @include mobile {
    --mb: 60px;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: var(--mb);
    }
  }
}

.chess__image-container {
  --h: 600px;
  height: var(--h);
  position: relative;

  @include desktop-large {
    --h: 700px;
  }

  @include mobile {
    overflow: clip;
    --h: 300px;
    width: 100%;
  }
}

.chess__content {
  --pt: 120px;
  padding-top: var(--pt);
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  @include desktop-tablet {
    --pt: 80px;
  }

  @include mobile {
    --pt: 40px;
  }
}

.chess__image-wrapper {
  width: 50%;
  flex-shrink: 0;
  @include mobile {
    width: 100%;
  }
}

.chess__wrapper-content {
  width: 100%;
}

.chess__header {
  --mb: 40px;
  color: $green-1;
  margin-bottom: var(--mb);
  max-width: 80%;

  @include mobile {
    --pl: 10px;
    --mb: 0;
    padding-left: var(--pl);
  }
}

.chess__order {
  --top: 110px;

  position: absolute;
  top: var(--top);
  right: 0;
  opacity: 0.7;
  color: $green-1;
  @include desktop-tablet {
    --top: 70px;
    margin-right: 0;
  }

  @include tablet {
    margin-left: 0;
  }
  @include mobile {
    position: static;
    opacity: 1;
  }
}

.chess--image-right {
  flex-direction: row-reverse;

  @include mobile {
    flex-direction: column;
  }

  .chess__order {
    margin-right: 0;
  }
}

.chess__mobile-top {
  @include mobile {
    --mb: 40px;
    margin-bottom: var(--mb);
    @include flex-center(row, flex-start, flex-start);
    padding: 0 var(--offset-x);
  }
}

.chess__image-wrapper {
  @include mobile {
    overflow: clip;
  }
}

.chess__text {
  --mb: 40px;
  &:not(:last-child) {
    margin-bottom: var(--mb);
  }
}

.chess--large-content {
  .chess__content {
    --pt: 60px;
  }

  .chess__order {
    --top: 50px;
  }

  @include tablet {
    --mb: 60px;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: var(--mb);
    }

    .chess__order.desktop-only,
    .chess__header.desktop-only {
      display: none;
    }

    .chess__mobile-top {
      display: flex;
      padding-left: var(--offset-x);
      padding-right: var(--offset-x);
    }
    .chess__order {
      position: static;
    }

    .chess__image-wrapper {
      width: 100%;
    }

    .chess__order {
      margin-right: 10px;
    }
  }
}

.chess__button {
  --mb: 40px;
  margin-top: auto;
  margin-bottom: var(--mb);
  width: fit-content;
  @include tablet {
    --mt: 40px;
    margin-top: var(--mt);
    margin-bottom: 0;
  }
}

.chess--large-block {
  --pt: 60px;
  padding-top: var(--pt);
  flex-direction: column;
  align-items: center;

  @include tablet {
    --pt: 0;
  }

  .chess__image-container,
  .chess__image-wrapper {
    width: 100%;
  }

  .chess__order.desktop-only,
  .chess__header.desktop-only {
    display: none;
  }

  .chess__mobile-top {
    display: flex;

    @include tablet {
      width: 100%;
      align-items: flex-start;
    }
  }
}
