@use "@/application/css/base/variables" as *;
@use "@/application/css/utils/mixins" as *;

.price-groups__list {
  --gap: 30px;
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  width: 100%;

  @include tablet {
    --gap: 50px;
    flex-direction: column;
  }
}

.price-groups__title {
  --mb: 20px;
  margin-bottom: var(--mb);
}

.price-groups__group {
  width: 47%;
  flex-shrink: 0;

  &:only-child {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }
}

.price-groups__memo {
  --pv: 40px;
  opacity: 0.7;
  padding: var(--pv) 0;

  @include tablet {
    padding-bottom: 0;
  }
}
