@use "@/application/css/base/variables" as *;
@use "@/application/css/utils/mixins" as *;

.preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
  background: #363032;
  transition: opacity $app-medium-duration $app-default-easing;

  &.preloader--hide {
    opacity: 0;
    pointer-events: none;
  }

  .no-js & {
    display: none;
  }
}

.preloader__logo {
  width: clamp(170px, 24vw, 280px);
  animation: preloader-logo-out 0.6s cubic-bezier(0.25, 0.25, 0, 1) 2.6s
    forwards;
}

.preloader__logo svg {
  display: block;
  width: 100%;
  height: auto;
  overflow: visible;
}

.preloader__text {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity $app-medium-duration $app-default-easing,
    transform $app-medium-duration $app-default-easing;

  .preloader--active & {
    opacity: 1;
    transform: translateY(0);
  }
}

.preloader__circles {
  opacity: 0;
  transform: rotate(180deg);
  transform-origin: center center;
  transition:
    opacity $app-medium-duration $app-default-easing,
    transform 1.2s $app-default-easing;
  transition-delay: 1s;
  .preloader--active & {
    opacity: 1;
    transform: rotate(0);
  }
}

[data-particle] {
  opacity: 0;
  transform-box: fill-box;
  transform-origin: center;
  transition: opacity $app-medium-duration $app-default-easing;
  transition-delay: calc(0.1s + var(--index) * 0.005s);

  .preloader--active & {
    opacity: 1;
  }
}

@keyframes preloader-text-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
