@use "@/application/css/base/variables" as *;
@use "@/application/css/utils/mixins" as *;

.link {
  display: inline-block;

  @include hover {
    .link__container::before {
      transform: translateX(0);
    }
  }
}

.link__container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 5px 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $black;
    transform: translateX(-100%);
    transition: transform $app-default-duration $app-default-easing;
  }
}
