@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

.hero {
  height: vh(100);
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
}

.hero__wrapper {
  --t: 24%;
  position: absolute;
  inset: 0;
  top: var(--t);
  left: 50%;
  transform: translateX(-50%);
  @include flex-center(column, flex-start, center);
  z-index: 3;
  width: fit-content;
  @include desktop-large {
    --t: 30%;
  }

  @include tablet {
    --t: 18%;
  }

  @include mobile {
    width: 100%;
  }
}

.hero__image-container {
  position: absolute;
  inset: 0;
  width: 100%;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: rgba($black, 0.3);
  }
}

.hero__text-block {
  position: relative;
  z-index: 2;
  @include grid-columns(9);
  color: $white;
  text-align: center;

  @include tablet {
    margin: 0 auto;
    @include grid-columns(15);
    text-align: center;
  }
  @include mobile {
    width: 100%;
  }
}

.hero__button {
  --mt: 50px;
  margin-top: var(--mt);
  position: relative;

  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity $app-default-duration $app-default-easing,
    transform $app-default-duration $app-default-easing;
  transition-delay: 1s;

  &.hero__button--active {
    opacity: 1;
    transform: translateY(0);
  }
}
