@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

.icon-wrapper {
  --size: 120px;

  position: relative;
  width: var(--size);
  height: var(--size);
}

.icon-image {
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
  background-image: var(--path);
}
