@use "@/application/css/utils/mixins" as *;
@use "@/application/css/base/variables" as *;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-size-adjust: 100%;
  font-size-adjust: 100%;
}

body {
  @extend %text-default;
  line-height: 1.45;
  color: $black;
  font-family: $font-main;
}

%text-default {
  @include fs-fluid(15px, 18px, 360px, 1920px);
  line-height: 1.45;
  letter-spacing: -0.01em;
  font-weight: 400;
}

%h1-tp {
  font-family: $font-main;
  @include fs-fluid(60px, 90px, 1280px, 1920px);
  line-height: 1.02;
  letter-spacing: -0.03em;
  font-weight: 500;
  @include tablet {
    font-size: 64px;
  }
  @include mobile() {
    @include fs-fluid(38px, 64px, 360px, 768px);
    line-height: 1.08;
  }
}

%h2-tp {
  font-family: $font-main;
  @include fs-fluid(50px, 80px, 1280px, 1920px);
  line-height: 1.04;
  letter-spacing: -0.02em;
  font-weight: 500;
  @include tablet {
    font-size: 50px;
  }
  @include mobile() {
    @include fs-fluid(30px, 50px, 360px, 768px);
  }
}

%h3-tp {
  font-family: $font-main;
  @include fs-fluid(40px, 66px, 1280px, 1920px);
  line-height: 1.08;
  letter-spacing: -0.02em;
  font-weight: 400;
  @include tablet {
    font-size: 40px;
  }
  @include mobile() {
    @include fs-fluid(26px, 40px, 320px, 768px);
  }
}

%h4-tp {
  font-family: $font-main;
  @include fs-fluid(24px, 34px, 1280px, 1920px);
  line-height: 1.12;
  letter-spacing: -0.01em;
  font-weight: 500;
  @include tablet() {
    font-size: 24px;
  }
}

%h5-tp {
  font-family: $font-main;
  @include fs-fluid(16px, 20px, 1280px, 1920px);
  line-height: 1.12;
  letter-spacing: 0;
  font-weight: 500;
  @include tablet() {
    font-size: 16px;
  }
}

%link-tp {
  font-family: $font-main;
  @include fs-fluid(12px, 20px, 1280px, 1920px);
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 500;

  @include tablet() {
    font-size: 12px;
  }
}

%button-tp {
  font-family: $font-main;
  @include fs-fluid(12px, 14px, 320px, 1280px);
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-transform: none;
}

%text-descr-tp {
  font-family: $font-main;
  @include fs-fluid(10px, 12px, 1280px, 1920px);
  line-height: 1.1;
  font-weight: 500;

  @include tablet() {
    font-size: 10px;
  }
}

%filter-text-tp {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  font-weight: 500;
  @include desktop-tablet {
    font-size: 12px;
  }
}

%text-l {
  font-family: $font-main;
  @include fs-fluid(16px, 20px, 1280px, 1920px);
  line-height: 1.45;
  letter-spacing: -0.02em;
  font-weight: 400;
  @include tablet() {
    font-size: 16px;
  }
}

%text-m {
  font-family: $font-main;
  @include fs-fluid(14px, 16px, 1280px, 1920px);
  line-height: 1.3;
  letter-spacing: -0.01em;
  font-weight: 400;
  @include tablet() {
    font-size: 14px;
  }
}

h1,
.h1 {
  @extend %h1-tp;
}
h2,
.h2 {
  @extend %h2-tp;
}
h3,
.h3 {
  @extend %h3-tp;
}
h4,
.h4 {
  @extend %h4-tp;
}
h5,
.h5 {
  @extend %h5-tp;
}

.link-tp {
  @extend %link-tp;
}
.button-tp {
  @extend %button-tp;
}
.text-descr {
  @extend %text-descr-tp;
}
.filter-text {
  @extend %filter-text-tp;
}
.text-l {
  @extend %text-l;
}
.text-m {
  @extend %text-m;
}
