@use "@/application/css/base/variables" as *;
@use "@/application/css/utils/mixins" as *;

.wysiwyg {
  h1 {
    margin-bottom: 60px;
  }

  h2 {
    margin-bottom: 40px;
  }

  p + h2,
  ul + h2 {
    margin-top: 60px;
  }

  p:not([class]) {
    &:not(:first-child) {
      margin-top: 1.33em;
    }

    &:not(:last-child) {
      margin-bottom: 1.33em;
    }
  }

  p:empty {
    display: none;
  }

  li::marker {
    color: $green-1;
  }
}
